[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

colorama = "*"
click = "6.7"
lxml = "4.1.1"
pyquery = "1.3.0"
aiohttp = "2.3.5"
aiodns = "*"
pybloom-live = "2.3.1"


[dev-packages]

